body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.hero {
    padding: 60px 40px;
    max-width: 1500px;
    margin: 0 auto;
}
.profile-image-wrapper {
  position: relative;
  width: 450px;   /* Adjust as needed */
  height: 500px;  /* Adjust as needed */
  margin: 40px auto;
}

.profile-bg-tilt {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cecece;
  border-radius: 32px;
  transform: rotate(6deg);
  z-index: -1;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
  
}

.grainybg {
background-image: url(image-containertexture.png);

}

h1 {
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    line-height: 160%;
    font-weight: 50
;
}


.profile-image-wrapper{
  position: absolute;
  top: 50px;
  right: 75px;
  z-index: -10;
  
}

.titleee {
  font-family:  playfair display, serif;
text-align: center;
  position: absolute;
  left:  70;
  top: 120%;
  color: #9a9a9a;
    font-size: 42px;
    font-weight: 400;
  
}


.name {
    font-weight: lighter;
    font-size: 150px;
}

.titles {
    font-size: 20px;
    line-height: 25px;
    border-radius: 42px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500px;
   font-style: italic;
  
    
    
}

.titles span {
    display: inline-block;
}

.bio {
    font-size: 18px;
    max-width: 600px;
}

.mv-logo {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.featured-projects {
    padding: 10rem 2rem;
    background-color: #1C1C1C;
    color: white;
    display: flex;
    margin-top: 100px;
    
}

.child-1, .child-2, .child-3{
  display: block;
  width: 100%;
  /* border: 1px solid white; */
  text-align: center;
}




.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* max-width: 100%; */
    /* overflow: hidden; */
    margin: auto;
}

.project-card {
    background-color: #2A2A2A;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 200%;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.project-tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.project-tags span {
    font-size: 0.85rem;
    color: #fff;
}

.project-date {
    color: #888;
    font-size: 0.85rem;
}



.project-image {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
}
.view-project {
    background: none;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin-top: auto;
}

.view-project .arrow {
    transition: transform 0.2s ease;
}

.view-project:hover .arrow {
    transform: translateX(5px);
}
body {
    background: #faf9f7;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .about-section {
    text-align: center;
    margin: 60px auto;
    max-width: 1100px;
  }
  
  .about-title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .star {
    font-size: 2.5rem;
    color: #222;
  }
  
  .divider {
    width: 3px;
    height: 60px;
    background: #d3d3d3;
    margin: 0 auto 2rem auto;
  }
  .about-description {
    color: #555;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 2.5rem;
    line-height: 20px;
  }
  
  .skills-btn {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid #333;
    border-radius: 42px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background 0.2s, color 0.2s;
  }
  
  #circle1{
    padding: 25px;
    margin-bottom: 20px;
    font-size: 32px;
    border-radius: 100%;
    color: #373737;
   
    background-color: rgb(235, 235, 235);
}
#circle2{
  padding: 25px;
    margin-bottom: 20px;
    font-size: 32px;
    border-radius: 100%;
    color: #373737;
   
    background-color: rgb(235, 235, 235);
}
#circle3{
  padding: 25px;
    margin-bottom: 30px;
    font-size: 32px;
    border-radius: 100%;
    color: #373737;
   
    background-color: rgb(235, 235, 235);
}
  
  .skills-icons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1.5rem;
  }
  
  .skills-icons img {
    width: 60px;
    height: 60px;
    border-radius: 8%;
    background: #222;
    object-fit: contain;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@500&display=swap');

body {
  background: #ffffff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.services-section {
  padding: 60px 0 60px 0;
  background: #232323;
  color: #e0e0e0;
  text-align: center;
}

.services-title {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  font-weight: 200;
  color: #999999;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  margin-top: -40px;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto 1.5rem auto;
}
.service-card {
    display: flex;
    align-items: center;
    background: #18191b;
    border-radius: 20px;
    padding: 1.5rem 2.5rem;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    gap: 1.5rem;
  }
  
  .service-icon {
    background: #333;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .service-content {
    text-align: left;
  }
  
  .service-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.3rem;
    letter-spacing: 0.5px;
  }
  
  .icons-ctn{
    text-align: left;
    width: 100%;
    font-size: 32px;
  }

  .service-desc {
    font-size: 1.1rem;
    color: #bdbdbd;
    font-weight: 400;
  }
  .services-quote {
    margin: 4rem 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 2.9rem;
    color: #e0e0e0;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 70px;
    top: 20%;
  }
  
  .italic {
    font-style: italic;
  }
  
  .highlight {
    color: #fff;
    font-weight: 500;
  }  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display:wght@500&display=swap');

body {
  background: #fafafa;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.contact-section {
  padding: 60px 0 0 0;
  background: #ffffff;
  text-align: center;
}

.contact-title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 500;
  color: #303030;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.star {
  font-size: 2.2rem;
  color: #333;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact-card {
  background: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 24px;
  padding: 1.6rem 2.5rem 2rem 2.5rem;
  min-width: 320px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.contact-icon {
  margin-bottom: 1.2rem;
}

.contact-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.contact-info {
  font-size: 1rem;
  color: #333;
  font-weight: 400;
  word-break: break-all;
}
.last-section {
  background-color: #212121;
  text-align: center;
  padding: 7px 0;
}

/* Responsive Design */
/* @media (max-width: 1200px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    
    .featured-projects h2 {
        font-size: 2.5rem;
    }
}  /*
  

